<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="demo_event_display_text">
        <observer name="mp_display_text" instance="Secomm\ObPlRe\Observer\ChangeDisplayText" />
    </event>
    <event name="sales_model_service_quote_submit_before">
        <observer name="before_order_payment_save" instance="Secomm\ObPlRe\Observer\BeforeOrderPaymentSave" />
    </event>
</config>
