<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="personalcoupon_listing_data_source" xsi:type="string">Levinc\AssignCoupon\Model\ResourceModel\Assign\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Levinc\AssignCoupon\Model\ResourceModel\Assign\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">levinc_personal_coupon</argument>
            <argument name="resourceModel" xsi:type="string">Levinc\AssignCoupon\Model\ResourceModel\PersonalCoupon</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="salesrule_listing_data_source" xsi:type="string">Levinc\AssignCoupon\Model\ResourceModel\Coupon\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Levinc\AssignCoupon\Model\ResourceModel\Coupon\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">salesrule_coupon</argument>
            <argument name="resourceModel" xsi:type="string">Magento\SalesRule\Model\ResourceModel\Coupon</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Quote\Model\CouponManagement">
        <plugin name="check_levinc_personal_coupon" type="Levinc\AssignCoupon\Plugin\Model\CouponManagement" sortOrder="10" disabled="false"  />
    </type>
</config>
